<div class="default-container x-grid-12 nopad">

	<div class="default-container--text x-grid-12 m-grid-9 nopad">
		<div class="default-container--text-content x-grid-12 nopad"> {{{text}}} </div>
	</div>

	<div class="default-container--image x-grid-12 m-grid-3 nopad">
		<img src="static/images/{{image}}" class="default-container--image-content x-grid-12 nopad">
	</div>

</div>