<div id="banner-main" class="x-grid-12 nopad">
	<div id="banner-main--text" class="x-grid-12">{{banner_text}}</div>
	<img src="static/images/{{banner_color}}PageBanner.png" class="x-grid-12 nopad">
</div>

<style>
#banner-main--text {
	z-index: 1;
	color: white;
	text-align: center;
	font-size: 90px;
	line-height: 100px;
	font-weight: bold;
	margin-bottom: -100%;
}

@media (max-width: 767px) {
	#banner-main--text {
		font-size: 50px;
	}
}
</style>

<script>
function bannerTextFromTop() {
	var container_height = $("#banner-main").outerHeight();
	var text_margin = container_height / 2;
	if (window.matchMedia("(max-width: 767px)").matches) text_margin = text_margin - 50
	$("#banner-main--text").css("margin-top", text_margin);
}

$(window).on("resize load", bannerTextFromTop);
</script>