<div class="default-container--holder x-grid-12 l-grid-10 l-grid-offset-1">

	{{> defaultTitleContainer
		text="About Dancer's Alley" }}

	{{> defaultDoubleContainer
		textFirst="About Dancer's Alley"
		imageSecond="pics/page.home.1.jpg" }}

	{{> defaultDoubleContainer
		textFirst="About Dancer's Alley"
		imageSecond="pics/page.home.1.jpg" }}

</div>