<div class="default-container--holder x-grid-12 l-grid-10 l-grid-offset-1">

	{{> defaultTitleContainer
		text="About Us" }}

	{{> defaultDoubleContainer
		textFirst=
		"
			<div id='about-text' class='x-grid-12 nopad'>
				Dancer’s Alley is the Southern Tier’s premier dance studio. Under the artistic direction of Amy Bush we offer classes in tap, ballet, pointe, jazz, hip hop, modern, lyrical, musical theater, and contemporary choreography.
				<br><br>
				Dancer’s Alley provides dance instruction for those young in age and those young at heart! Our instructors are dedicated, not only to guiding students in the quest to reach their potential, but to continuing their own dance education by attending masters classes and dance conventions. Most recently our staff had the opportunity to work with such greats as Tyce Diorio, Judy Rice and Barry Youngblood, which enables them to bring you the freshest dance techniques and choreography.
			</div>
		"
		imageSecond="pics/page.about.1.jpg" }}

	{{> defaultTitleContainer
		text="Our Staff" }}

	{{> defaultDoubleContainer
		textFirst=
		"
			<div class='default-container--text-title x-grid-a nopad'>
				Miss Amy
			</div>
			<div class='about-staff--info x-grid-12 nopad'>
				<div class='about-staff--info-item x-grid-12'>
					500 RYT
				</div>
				<div class='about-staff--info-item x-grid-12'>
					Registered Somatic Movement Educator
				</div>
				<div class='about-staff--info-item x-grid-12'>
					Registered with ISMETA
				</div>
			</div>
		"
		imageSecond="pics/page.about.2.jpg" }}

	{{> defaultDoubleContainer
		textFirst=
		"
			<div class='default-container--text-title x-grid-a nopad'>
				Miss Diana Macko
			</div>
			<div class='about-staff--info x-grid-12 nopad'>
				<div class='about-staff--info-item x-grid-12'>
					Residency Coordinator for Arnot Ogden Medical Center working with Resident Physicians
				</div>
				<div class='about-staff--info-item x-grid-12'>
					Teacher for 10 years at Dancer's Alley
				</div>
				<div class='about-staff--info-item x-grid-12'>
					NYS certified art educator
				</div>
			</div>
			<div class='about-staff--remarks x-grid-12 nopad'>
				I love working with the students of Dancer's Alley and the message of dance education that resonates with Amy and her staff. Best job in the world.
			</div>
		"
		imageSecond="pics/page.about.3.jpg" }}

</div>