<div class="default-container--holder x-grid-12 l-grid-10 l-grid-offset-1">

	{{> defaultTitleContainer
		text="About Us" }}

	{{> defaultDoubleContainer
		textFirst=
		"
			<div id='about-text' class='x-grid-12 nopad'>
				Dancer’s Alley is the Southern Tier’s premier dance studio. Under the artistic direction of Amy Bush we offer classes in tap, ballet, pointe, jazz, hip hop, modern, lyrical, musical theater, and contemporary choreography.
				<br><br>
				Dancer’s Alley provides dance instruction for those young in age and those young at heart! Our instructors are dedicated, not only to guiding students in the quest to reach their potential, but to continuing their own dance education by attending masters classes and dance conventions. Most recently our staff had the opportunity to work with such greats as Tyce Diorio, Judy Rice and Barry Youngblood, which enables them to bring you the freshest dance techniques and choreography.
			</div>
		"
		imageSecond="pics/page.about.1.jpg" }}

	{{> defaultTitleContainer
		text="Our Staff" }}

	{{> customStaffDoubleContainer
		text=
		"
			<div class='default-container--text-title x-grid-a nopad'>
				Miss Amy
			</div>
			<div class='about-staff--info x-grid-12 nopad'>
				<div class='about-staff--info-item x-grid-12'>
					500 RYT
				</div>
				<div class='about-staff--info-item x-grid-12'>
					Registered Somatic Movement Educator
				</div>
				<div class='about-staff--info-item x-grid-12'>
					Registered with ISMETA
				</div>
			</div>
		"
		image="pics/page.about.2.jpg" }}

	{{> customStaffDoubleContainer
		text=
		"
			<div class='default-container--text-title x-grid-a nopad'>
				Miss Diana Macko
			</div>
			<div class='about-staff--info x-grid-12 nopad'>
				<div class='about-staff--info-item x-grid-12'>
					Residency Coordinator for Arnot Ogden Medical Center working with Resident Physicians
				</div>
				<div class='about-staff--info-item x-grid-12'>
					Teacher for 10 years at Dancer's Alley
				</div>
				<div class='about-staff--info-item x-grid-12'>
					NYS certified art educator
				</div>
			</div>
			<div class='about-staff--remarks x-grid-12 nopad'>
				I love working with the students of Dancer's Alley and the message of dance education that resonates with Amy and her staff. Dancer's Alley is the best job in the world!
			</div>
		"
		image="pics/page.about.3.jpg" }}

	{{> customStaffDoubleContainer
		text=
		"
			<div class='default-container--text-title x-grid-a nopad'>
				Miss Jaymie Boudreau Snoddy
			</div>
			<div class='about-staff--paragraph x-grid-12 nopad'>
				Jaymie began her dance training in Horseheads, NY at Filippetti’s Academy of Dance Arts and graduated with a Bachelor’s of Arts degree in Dance from James Madison University. While at JMU, she performed with the Contemporary Dance Ensemble and the Virginia Repertory Dance Company. After graduation Jaymie started her professional career with the West Virginia Dance Company under the direction of Toneta Akers-Toler and Donald Laney. She also performed with Theatre West Virginia as a dance captain. She has worked with such artists as Shane O’Hara, Cynthia Thompson, Suzanne Miller Corso, Meisha Bosma, Keith Thompson, Isabelle Gotzkowski, Carli Mareneck and Heather Taylor-Martin. Jaymie has also been on faculty at River City Youth Ballet and the Charleston Ballet Company in West Virginia.  Jaymie is also the dance teacher at Finn Academy Charter School in Elmira, NY.
			</div>
		"
		image="pics/page.about.4.jpg" }}

	{{> customStaffDoubleContainer
		text=
		"
			<div class='default-container--text-title x-grid-a nopad'>
				Miss Kim George
			</div>
			<div class='about-staff--paragraph x-grid-12 nopad'>
				Kim has studied dance from age 3 through 23. She participated in the modern dance team and studied jazz while majoring in Elementary Education at Cortland State University. Kim was an assistant dance teacher in Norwich and Binghamton, NY, but then became interested in step aerobics. Kim became a certified fitness instructor and has been teaching strength training classes at the Corning Family YMCA since 1996. Kim joined the Dancer’s Alley staff at the Corning Studio. Last year Kim returned to Dancer’s Alley in Horseheads and taught class on Friday afternoons assisted by her daughter Regina.
			</div>
		"
		image="pics/page.about.5.png" }}

	{{> customStaffDoubleContainer
		text=
		"
			<div class='default-container--text-title x-grid-a nopad'>
				Miss Denise Pronti
			</div>
			<div class='about-staff--paragraph x-grid-12 nopad'>
				Denise started dancing when she was three years old. She studied ballet and pointe from age 6 – 18 at the Geraldine Hoffman School of Dance and at The Dancing Pointe in her hometown of Clarence, NY. She graduated from SUNY Geneseo with a degree in Elementary Education with Dance as her concentration study. At Geneseo, she studied Modern Dance, Ballet and Pointe as well as Choreography and Dance History. She performed with the Geneseo Dance Ensemble and with Orchesis, the student dance organization. Denise has taught dance at The Valley School of Dance in Geneseo, and at Leslie’s School of Dance in Elmira Heights before coming to teach ballet and pointe at Dancer’s Alley.
			</div>
		"
		image="pics/page.about.6.JPG" }}

	{{> customStaffDoubleContainer
		text=
		"
			<div class='default-container--text-title x-grid-a nopad'>
				Miss Amy Stevens
			</div>
			<div class='about-staff--info x-grid-12 nopad'>
				<div class='about-staff--info-item x-grid-12'>
					10 years teaching tap at Dancer's Alley
				</div>
				<div class='about-staff--info-item x-grid-12'>
					Choreographer CPP West High School 1998-2000
				</div>
				<div class='about-staff--info-item x-grid-12'>
					Corning Senior Center tap instructor 1999
				</div>
			</div>
		"
		image="pics/page.about.7.JPG" }}

	{{> customStaffDoubleContainer
		text=
		"
			<div class='default-container--text-title x-grid-a nopad'>
				Miss Quiana Lynch
			</div>
			<div class='about-staff--paragraph x-grid-12 nopad'>
				I have been dancing at Dancer's Alley Studio for 14 years, and am currently a member of the dance ensemble. I love being able to inspire and educate young, eager dancers. The studio has always been like a second home, and I am fortunate to be both a student and teacher here. Dance is my passion and has helped define me as a person.
			</div>
		"
		image="pics/page.about.8.jpg" }}

</div>