<div class="default-container--holder x-grid-12 l-grid-10 l-grid-offset-1">

	{{> defaultTitleContainer
		text="About Us" }}

	{{> defaultDoubleContainer
		textFirst=
		"
			<div id='about-text' class='x-grid-12 nopad'>
				Dancer’s Alley is the Southern Tier’s premier dance studio. Under the artistic direction of Amy Bush we offer classes in tap, ballet, pointe, jazz, hip hop, modern, lyrical, musical theater, and contemporary choreography.
				<br><br>
				Dancer’s Alley provides dance instruction for those young in age and those young at heart! Our instructors are dedicated, not only to guiding students in the quest to reach their potential, but to continuing their own dance education by attending masters classes and dance conventions. Most recently our staff had the opportunity to work with such greats as Tyce Diorio, Judy Rice and Barry Youngblood, which enables them to bring you the freshest dance techniques and choreography.
			</div>
		"
		imageSecond="pics/page.about.1.jpg" }}

	{{> defaultTitleContainer
		text="Our Staff" }}

		{{> customStaffDoubleContainer
			text=
			"
				<div class='default-container--text-title x-grid-a nopad'>
					Miss Amy
				</div>
				<div class='about-staff--paragraph x-grid-12 nopad'>
					AMY BUSH is owner and artistic director of Dancer's Alley Studio in Horseheads NY and just recently celebrated twenty years in business. She holds a degree in Dance from SUNY Brockport and more recently completed certification as Somatic Educator from EASTWEST SOMATICS. She is a registered Yoga instructor through YOGA Alliance. You can see Amy's Tedx talk on YouTube 'REDISCOVER YOUR DANCE/AMYBUSH'. She is currently studying to be a Certified Movement Analyst through the Laban institute in NYC.  Amy believes Being a lifelong student of dance and movement is essential for the quality of content of instruction to her students but for overall well being. Amy is passionate about teaching and sharing the art of dance with people of all ages. She believes EVERY-BODY CAN DANCE!
				</div>
				<div id='amy-dropdown' class='about-staff--dropdown x-grid-a nopad'>
					View more about Amy
				</div>
				<div id='amy-dropdown--content' class='about-staff--dropdown-content x-grid-12 nopad'>
					More info will go here
				</div>
			"
			image="pics/page.about.2.jpg" }}

	{{> customStaffDoubleContainer
		text=
		"
			<div class='default-container--text-title x-grid-a nopad'>
				Miss Diana Macko
			</div>
			<div class='about-staff--info x-grid-12 nopad'>
				<div class='about-staff--info-item x-grid-12'>
					Residency Coordinator for Arnot Ogden Medical Center working with Resident Physicians
				</div>
				<div class='about-staff--info-item x-grid-12'>
					Teacher for 10 years at Dancer's Alley
				</div>
				<div class='about-staff--info-item x-grid-12'>
					NYS certified art educator
				</div>
			</div>
			<div class='about-staff--remarks x-grid-12 nopad'>
				I love working with the students of Dancer's Alley and the message of dance education that resonates with Amy and her staff. Dancer's Alley is the best job in the world!
			</div>
		"
		image="pics/page.about.3.jpg" }}

	{{> customStaffDoubleContainer
		text=
		"
			<div class='default-container--text-title x-grid-a nopad'>
				Miss Jaymie Boudreau Snoddy
			</div>
			<div class='about-staff--paragraph x-grid-12 nopad'>
				Jaymie began her dance training in Horseheads, NY at Filippetti’s Academy of Dance Arts and graduated with a Bachelor’s of Arts degree in Dance from James Madison University. While at JMU, she performed with the Contemporary Dance Ensemble and the Virginia Repertory Dance Company. After graduation Jaymie started her professional career with the West Virginia Dance Company under the direction of Toneta Akers-Toler and Donald Laney. She also performed with Theatre West Virginia as a dance captain. She has worked with such artists as Shane O’Hara, Cynthia Thompson, Suzanne Miller Corso, Meisha Bosma, Keith Thompson, Isabelle Gotzkowski, Carli Mareneck and Heather Taylor-Martin. Jaymie has also been on faculty at River City Youth Ballet and the Charleston Ballet Company in West Virginia.  Jaymie is also the dance teacher at Finn Academy Charter School in Elmira, NY.
			</div>
		"
		image="pics/page.about.4.jpg" }}

	{{> customStaffDoubleContainer
		text=
		"
			<div class='default-container--text-title x-grid-a nopad'>
				Miss Kim George
			</div>
			<div class='about-staff--paragraph x-grid-12 nopad'>
				Kim has studied dance from age 3 through 23. She participated in the modern dance team and studied jazz while majoring in Elementary Education at Cortland State University. Kim was an assistant dance teacher in Norwich and Binghamton, NY, but then became interested in step aerobics. Kim became a certified fitness instructor and has been teaching strength training classes at the Corning Family YMCA since 1996. Kim joined the Dancer’s Alley staff at the Corning Studio. Last year Kim returned to Dancer’s Alley in Horseheads and taught class on Friday afternoons assisted by her daughter Regina.
			</div>
		"
		image="pics/page.about.5.png" }}

	{{> customStaffDoubleContainer
		text=
		"
			<div class='default-container--text-title x-grid-a nopad'>
				Miss Denise Pronti
			</div>
			<div class='about-staff--paragraph x-grid-12 nopad'>
				Denise started dancing when she was three years old. She studied ballet and pointe from age 6 – 18 at the Geraldine Hoffman School of Dance and at The Dancing Pointe in her hometown of Clarence, NY. She graduated from SUNY Geneseo with a degree in Elementary Education with Dance as her concentration study. At Geneseo, she studied Modern Dance, Ballet and Pointe as well as Choreography and Dance History. She performed with the Geneseo Dance Ensemble and with Orchesis, the student dance organization. Denise has taught dance at The Valley School of Dance in Geneseo, and at Leslie’s School of Dance in Elmira Heights before coming to teach ballet and pointe at Dancer’s Alley.
			</div>
		"
		image="pics/page.about.6.JPG" }}

	{{> customStaffDoubleContainer
		text=
		"
			<div class='default-container--text-title x-grid-a nopad'>
				Miss Amy Stevens
			</div>
			<div class='about-staff--info x-grid-12 nopad'>
				<div class='about-staff--info-item x-grid-12'>
					10 years teaching tap at Dancer's Alley
				</div>
				<div class='about-staff--info-item x-grid-12'>
					Choreographer CPP West High School 1998-2000
				</div>
				<div class='about-staff--info-item x-grid-12'>
					Corning Senior Center tap instructor 1999
				</div>
			</div>
		"
		image="pics/page.about.7.JPG" }}

	{{> customStaffDoubleContainer
		text=
		"
			<div class='default-container--text-title x-grid-a nopad'>
				Miss Quiana Lynch
			</div>
			<div class='about-staff--paragraph x-grid-12 nopad'>
				I have been dancing at Dancer's Alley Studio for 14 years, and am currently a member of the dance ensemble. I love being able to inspire and educate young, eager dancers. The studio has always been like a second home, and I am fortunate to be both a student and teacher here. Dance is my passion and has helped define me as a person.
			</div>
		"
		image="pics/page.about.8.jpg" }}

		{{> customStaffDoubleContainer
			text=
			"
				<div class='default-container--text-title x-grid-a nopad'>
					Miss Erin Saddlemire
				</div>
				<div class='about-staff--paragraph x-grid-12 nopad'>
					Erin Saddlemire has been dancing her entire life and is a graduate from the Hartford Conservatory with a double major in Dance Performance and Dance Pedagogy. Erin has been providing dance instruction in Upstate New York for thirteen years. Through the years Erin has received multiple choreography and high scoring awards at various competitions throughout the Northeast. Many of her students have received scholarships and gone on to study at collegiate levels. Erin founded Purely Technique Dance in 2012 with the intention of providing supplemental training enhancement catered to the individual and needs of each class, rather than the needs of competitive teams. Purely Technique’s yearly showcase performance acts as a fundraiser to benefit an arts club in the Binghamton School District while simultanousley showcasing the hard work and passion of the students as well as the artistry and diligence that Our Company shares. Erin has also been teaching Pilates Mat and Pilates Barre at the Body Lab in Endicott, NY and has been ambitiously working on a Bachlors in the Art of Dance through SUNY Empire State College since 2012. She has recieved many scholarships since her return to school and loves directly applying her learning to her teaching methods, especially in an interdisciplinary capacity.
				</div>
			"
			image="pics/page.about.9.jpg" }}

</div>
