<div class="default-container--holder x-grid-12 l-grid-10 l-grid-offset-1">

	{{> defaultTitleContainer
		text="Workshops" }}

	{{> defaultTitleContainer
		text="Guest Artists" }}

	{{> defaultTitleContainer
		text="Dancer's Alley Performing Ensemble" }}


</div>
