<div id="home-banner" class="x-grid-12 nopad">
	<div id="home-banner--text" class="x-grid-12 nopad">
		<div id="home-banner--title" class="x-grid-12"></div>
		<div class=" x-grid-10 x-grid-offset-1 m-grid-8 m-grid-offset-2 l-grid-6 l-grid-offset-3 nopad">
			<div id="home-banner--info" class="x-grid-12"></div>
		</div>
	</div>
	<img src="static/images/HomePageBanner.png" class="x-grid-12 nopad">
</div>

<div class="default-container--holder x-grid-12">

	{{> defaultContainerTextImage text="Quote of the month Here" image="pics/page.home.1.jpg" imageFirst=false}}

	{{> defaultContainerTextImage text="Quote of the month Here" image="pics/page.home.1.jpg" imageFirst=true}}

</div>