<div class="default-container--holder x-grid-12 l-grid-10 l-grid-offset-1">

	{{> defaultTitleContainer
		text="News" }}

	{{> defaultSingleContainer
		text=
		"
			<div class='x-grid-12 news-container'>
				<div class='x-grid-12 news-title'>
					Opportunities Survey
				</div>
				<div class='x-grid-12 news-content default-container--text'>
					Please take our opportunities survey <a href='https://docs.google.com/forms/d/e/1FAIpQLSdCPg6GBwPJJsbRaCpEspePX-JiJ4l5Plb7aRi-hCXxYTmG6g/viewform?c=0&w=1'>here</a>.
				</div>
			</div>
		"
	}}

</div>
