<div class="default-container--holder x-grid-12 l-grid-10 l-grid-offset-1">

	{{> defaultTitleContainer
		text="News" }}

	{{> defaultSingleContainer
		text=
		"
			<div class='x-grid-12 news-container'>
				<div class='x-grid-12 news-title news-center'>
					October News
				</div>
				<div class='x-grid-12 news-content default-container--text'>
					Classes are well under way ~ it is wonderful to see so many new faces in class and of course we love seeing our returning dancers and families!
					<br/><br/>
					NEW THIS MONTH: JAMMIN' WITH Q
					<br/>
					(see attached flyer for details)
					<br/><br/>
					The studio will be OPEN for Columbus Day and classes WILL be held.
					Additionally, please note we DO NOT CLOSE for the Conference Days that are listed on the HHDS School District Calendar.
					<br/><br/>
					Halloween is right around the corner.
					Stop into the studio and check out our selection of costumes for sale!  We have a wide variety of styles and sizes. Costumes are $20/ea.
					<br/><br/>
					<a href='static/images/pics/q_poster.pdf' download>Download the JAMMIN' WITH Q poster</a>
				</div>
			</div>
		"
	}}

	{{> defaultSingleContainer
		text=
		"
			<div class='x-grid-12 news-container'>
				<div class='x-grid-12 news-title news-center'>
					Opportunities Survey
				</div>
				<div class='x-grid-12 news-content default-container--text news-center'>
					Please take our opportunities survey <a href='https://docs.google.com/forms/d/e/1FAIpQLSdCPg6GBwPJJsbRaCpEspePX-JiJ4l5Plb7aRi-hCXxYTmG6g/viewform?c=0&w=1'>here</a>.
				</div>
			</div>
		"
	}}

</div>
