<div class="default-container--holder x-grid-12 l-grid-10 l-grid-offset-1">

	{{> defaultTitleContainer
		text="Pictures" }}

	{{> defaultDoubleContainer
		imageFirst="pics/page.pictures.1.jpg"
		imageSecond="pics/page.pictures.2.jpg" }}

	{{> defaultSingleContainer
		image="pics/page.pictures.3.jpg" }}

	{{> defaultDoubleContainer
		imageFirst="pics/page.pictures.4.jpg"
		imageSecond="pics/page.pictures.6.jpg" }}

		{{> defaultSingleContainer
			image="pics/page.pictures.5.jpg" }}
</div>
