<div class="default-container--holder x-grid-12 l-grid-10 l-grid-offset-1">

	{{> defaultTitleContainer
		text="Studio Policies" }}

	{{> defaultDoubleContainer
		textFirst=
		"
			<div class='default-container--text-title x-grid-a nopad'>
				Holiday Schedule
			</div>
			<div class='policy-info x-grid-12 nopad'>
				We follow the Horseheads School Calendar. We are closed on all school holidays, but we do hold classes on school conference days.
				<br><br>
				If Horseheads cancels after school activities dance classes are cancelled.
				<br><br>
				Make-up classes will be held as necessary.
			</div>
		"
		imageSecond="pics/page.policies.1.jpg" }}

	{{> defaultDoubleContainer
		textFirst=
		"
			<div class='default-container--text-title x-grid-a nopad'>
				Class Observation
			</div>
			<div class='policy-info x-grid-12 nopad'>
				Students learn best when parents are not in the studio. Parents are invited to take advantage of free wi-fi in the waiting area until class is over.
				<br><br>
				Class observation week is traditionally the week before winter break; bring your friends and family, and your camera, and see what your dancer has been up to in class!
			</div>
		"
		imageSecond="pics/page.policies.2.jpg" }}

	{{> defaultDoubleContainer
		textFirst=
		"
			<div class='default-container--text-title x-grid-a nopad'>
				Dance Attire and Attendance
			</div>
			<div class='policy-info x-grid-12 nopad'>
				All students must wear proper dance attire. We offer a variety of leotards, tights and shoes in Swirls. Please see your instructor with any questions.
				<br><br>
				Please arrive dressed and ready to start class on time. If you are unable to attend class due to illness, schedule conflict, etc., please call the studio to let us know.
				<br><br>
				Additionally, there may be times where your instructor needs to cancel your class due to illness or a schedule conflict. Make-up classes will be offered when possible, but this is not a guarantee. Tuition is not prorated based on cancellations.
			</div>
		"
		imageSecond="pics/page.policies.3.jpg" }}

</div>