<div class="default-container--holder x-grid-12 l-grid-10 l-grid-offset-1">

	{{> defaultTitleContainer
		text="Recital Information" }}

	{{> defaultSingleContainer
		image="pics/page.recitalinfo.2.png"
	}}

	{{> defaultSingleContainer
		image="pics/page.recitalinfo.3.png"
	}}

	{{> defaultSingleContainer
		image="pics/page.recitalinfo.4.png"
	}}


	{{> defaultTripleContainer
		textFirst=
		"
			<div class='default-container--text-title x-grid-a nopad'>
				Recital/Rehearsal Information
			</div>
			<div class='recitalinfo-text x-grid-12 nopad'>
				Closer to the date, a schedule will be made up for the dress rehearsals and will be posted here. Please understand the schedule is an estimated time for when the dancers need to arrive and how long they will need to stay. We cannot for sure determine how long they will actually be there. We do the very best we can to make these rehearsals go smoothly and quickly, but at times it is difficult as lighting and sound are also being set during this time. Both students and faculty have worked hard during the year to prepare for the show. During dress rehearsal we try to make sure each class has enough time to practice and get comfortable with what they need to do during the show. The preparation is more than the dance itself; it is also entering and exiting the stage, seating before and after specific performances, how to facilitate costume changes, and for little ones, getting used to the lighting and sound. We strive to help the dancers have a fun show and to feel proud of their accomplishments.
				<br><br>
				If possible, it is probably best not to schedule other activities for your dancer the night of rehearsal as it may run late. We apologize in advance for any inconvenience this may have on you.
			</div>
		"
		textSecond=
		"
			<div class='default-container--text-title x-grid-a nopad'>
				Viewing Rehearsal
			</div>
			<div class='recitalinfo-text x-grid-12 nopad'>
				No one is allowed in the auditorium or the balcony except for the teachers and students. We understand that this is frustrating for the parents; however, this has been a rule for over ten years at Dancer’s Alley. We have found enforcing this rule to be helpful because: 1.) it keeps the dancers from becoming distracted and 2.) it keeps the auditorium from becoming too loud with side noise from the audience.
				<br><br>
				Please abide by our request to remain outside in the lobby area during the dress rehearsal or let your dancer know when you will return to pick them from dress rehearsal.
				<br><br>
				We do not allow students to exit the Clemens Center to meet their ride; parents must come in to the lobby to pick up their dancer. This applies to both junior and senior dancers.
			</div>
		"
		textThird=
		"
			<div class='default-container--text-title x-grid-a nopad'>
				Costume Deposit
			</div>
			<div class='recitalinfo-text x-grid-12 nopad'>
				All students performing in the spring recital must pay a costume deposit of $55 per class by December 1, 2016. The remainder of the costume bill will be sent to you after January 1, 2017. Please check on line to verify that your student is enrolled in the correct classes prior to December 1!
				<br><br>
				Costume orders are placed over the winter break to ensure a timely arrival; some orders take up to 16 weeks for delivery. Costume orders will not be held up for late payments. To ensure your costume is ordered, please pay your deposit in a timely fashion. Failure to do so could jeopardize your receiving a costume. If your order is late, you will be responsible for any extra fees associated with the order (e.g. shipping/handling, rush delivery, etc.).
				<br><br>
				Please be aware that costume fees are non-refundable. Once your child’s costume is ordered you are responsible for the bill. This includes if your child decides to discontinue dance after costumes have been ordered as we are unable to cancel costumes.
			</div>
		" }}

	{{> defaultDoubleContainer
		textFirst=
		"
			<div class='default-container--text-title x-grid-a nopad'>
				Costumes, Hair, Makeup
			</div>
			<div class='recitalinfo-text x-grid-12 nopad'>
				All students will be measured for bust, waist and hips in the fall for their costume order. There are no returns for costumes. If your costume arrives and is the wrong size we will check to see if there is time to exchange it. Most costumes take up to 16 weeks for delivery; if we are not able to exchange the costume, please speak with the teacher regarding possible alterations. We do our best to make sure everyone is properly sized but sometimes (like in department stores) sizes run large/small and we cannot account for this.
				<br><br>
				All students should speak with their instructor regarding hair and make up for the show.
			</div>
		"
		imageSecond="pics/page.recitalinfo.1.jpg"
		imageSecondCaption="I just needed to touch up my lipstick before my performance!" }}

	{{> defaultTitleContainer
		text="Upcoming Recitals" }}

	{{> defaultSingleContainer
		text=
		"
			<div id='recitalinfo-upcoming' class='x-grid-12 nopad'>
				More information will be shared as arrangements are finalized.
			</div>
		" }}

</div>
