<div class="default-container--holder x-grid-12 l-grid-10 l-grid-offset-1">

	{{> defaultTitleContainer
		text="Fee Schedule" }}

	{{> defaultSingleContainer
		text=
		'<div class="default-container--text-title x-grid-a">
			Tuition
		</div>
		<div id="tuition-info" class="x-grid-12">
			Based on September-June Dance Calendar Year
			<br>
			Pay by the year to receive the BEST rate
		</div>
		<div class="default-container--text-title x-grid-a">
			Payment Options
		</div>
		<div id="tuition-payment--grid" class="x-grid-12 nopad">
			<div class="x-grid-12 nopad tuition-payment--row">
				<div class="x-grid-3 nopad tuition-payment--header">
					Per Student Rate
				</div>
				<div class="x-grid-3 nopad tuition-payment--header">
					Yearly Tuition
				</div>
				<div class="x-grid-3 nopad tuition-payment--header">
					½ Year Payment
				</div>
				<div class="x-grid-3 nopad tuition-payment--header">
					Monthly Payment
					<br>
					<span id="tuition-payment--header-small">
						(Based on full year tuition not weeks)
					</span>
				</div>
			</div>
			<div class="x-grid-12 nopad tuition-payment--row">
				<div class="x-grid-3 nopad tuition-payment--header">
					1 Class
				</div>
				<div class="x-grid-3 nopad tuition-payment--cost">
					340
				</div>
				<div class="x-grid-3 nopad tuition-payment--cost">
					176
				</div>
				<div class="x-grid-3 nopad tuition-payment--cost">
					42
				</div>
			</div>
			<div class="x-grid-12 nopad tuition-payment--row">
				<div class="x-grid-3 nopad tuition-payment--header">
					2 Classes
				</div>
				<div class="x-grid-3 nopad tuition-payment--cost">
					650
				</div>
				<div class="x-grid-3 nopad tuition-payment--cost">
					342
				</div>
				<div class="x-grid-3 nopad tuition-payment--cost">
					78
				</div>
			</div>
			<div class="x-grid-12 nopad tuition-payment--row">
				<div class="x-grid-3 nopad tuition-payment--header">
					3 Classes
				</div>
				<div class="x-grid-3 nopad tuition-payment--cost">
					930
				</div>
				<div class="x-grid-3 nopad tuition-payment--cost">
					488
				</div>
				<div class="x-grid-3 nopad tuition-payment--cost">
					110
				</div>
			</div>
			<div class="x-grid-12 nopad tuition-payment--row">
				<div class="x-grid-3 nopad tuition-payment--header">
					4 Classes
				</div>
				<div class="x-grid-3 nopad tuition-payment--cost">
					1180
				</div>
				<div class="x-grid-3 nopad tuition-payment--cost">
					620
				</div>
				<div class="x-grid-3 nopad tuition-payment--cost">
					139
				</div>
			</div>
			<div class="x-grid-12 nopad tuition-payment--row">
				<div class="x-grid-3 nopad tuition-payment--header">
					Unlimited Dancer
				</div>
				<div class="x-grid-3 nopad tuition-payment--cost">
					1350
				</div>
				<div class="x-grid-3 nopad tuition-payment--cost">
					680
				</div>
				<div class="x-grid-3 nopad tuition-payment--cost">
					153
				</div>
			</div>
		</div>
		<div class="individual-table x-grid-12 nopad">
			<div class="individual-table--header x-grid-3 nopad">
				Drop in Class Fee
			</div>
			<div class="individual-table--cost x-grid-9 nopad">
				$12
			</div>
		</div>
		<div class="individual-table x-grid-12 nopad">
			<div class="individual-table--header x-grid-3 nopad">
				Guest Artist Class Fee
			</div>
			<div class="individual-table--cost x-grid-9 nopad">
				Varies depending on length of workshop
			</div>
		</div>
		<div class="default-container--text-title x-grid-a">
			Recital Information
		</div>
		<div class="recital-info x-grid-12">
			Costume Deposit due December 1 - $55 per class
		</div>
		<div class="recital-info x-grid-12">
			Recital Fee - $60
			<div id="recital-info--more" class="x-grid-12">
				*Includes 5 tickets to recital of choice
				<br>
				*This fee covers the rental, lighting and stage tech fees for the theater
				<br>
				*$10 Fee applies to each additional dancer in family
			</div>
		</div>' }}

	{{> defaultTitleContainer
		text="Class Schedules" }}

		{{> defaultSingleContainer
			text=
			'<div class="default-container--text-title x-grid-a">
				Registering
			</div>
			<div id="registering-links" class="x-grid-12">
				New and returning familes can register <a href="https://app.thestudiodirector.com/dancersalleystudio/portal.sd?page=Login﻿">here</a>.
				<br>
				To search for classes without an account click <a href="https://app.thestudiodirector.com/dancersalleystudio/portal.sd?page=Enroll&meth=search">here</a>.
			</div>
			<div class="default-container--text-title x-grid-a">
				2017 Class Schedule
			</div>
			<div id="class-schedule--image" class="x-grid-12">
				<img src="static/images/pics/Schedule.png" class="x-grid-12">
			</div>
			<div id="class-schedule--pdf" class="x-grid-12">
				Or download the PDF <a href="static/images/pics/Schedule.pdf" download>here</a>.
			</div>' }}

		{{> defaultTitleContainer
			text="Dates" }}

			{{> defaultSingleContainer
				text=
				'
				<div class="default-container--text-title x-grid-a">
					Ensemble Rehearsal Dates
				</div>
				<div id="registering-links" class="x-grid-12">
					Oct 6 & 20 5:30 - 7:30
					<br>
					Oct 14, 28 12:00 - 3:00
				</div>
				<div id="class-schedule--image" class="x-grid-12">
					<img src="static/images/pics/dates.png" class="x-grid-12">
				</div>
				' }}

</div>
