#home-banner--title {
	z-index: 1;
	color: #3F68AF;
	text-align: center;
	font-size: 90px;
	line-height: 100px;
	font-weight: bold;
	margin-bottom: -100%;
}

@media (max-width: 767px) {
	#home-banner--text {
		font-size: 50px;
	}
}

#home-banner--info {
	z-index: 1;
	color: #3F68AF;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: -100%;
}

@media (max-width: 767px) {
	#home-banner--text {
		font-size: 50px;
	}
}