#home-banner {
	border-bottom: 5px solid #3F68AF;
}

#home-banner--text {
	margin-bottom: -100%;
}

#home-banner--title {
	z-index: 1;
	color: #3F68AF;
	text-align: center;
	font-size: 90px;
	line-height: 90px;
	font-weight: bold;
	font-family: 'Sacramento', cursive;
}

@media (max-width: 991px) {
	#home-banner--title {
		font-size: 70px;
		line-height: 70px;
	}
}

@media (max-width: 767px) {
	#home-banner--title {
		font-size: 50px;
		line-height: 50px;
	}
}

#home-banner--info {
	z-index: 1;
	color: #3F68AF;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	margin-top: 10px;
	font-family: 'Raleway', sans-serif;
}

@media (max-width: 991px) {
	#home-banner--info {
		font-size: 16px;
	}
}

@media (max-width: 767px) {
	#home-banner--info {
		font-size: 12px;
	}
}

#home-quote:before {
	content: "“";
	font-size: 20px;
	font-weight: bold;
}

#home-quote {
	margin-top: 15px;
	color: #27344A;
	font-size: 18px;
	padding-left: 15px;
}

#home-quote:after {
	content: "”";
	font-size: 20px;
	font-weight: bold;
}