#tuition-info {
	font-size: 15px;
	color: #888;
	margin-top: 10px;
	margin-bottom: 5px;
}

#tuition-payment--grid,
.individual-table {
	margin-top: 10px;
	margin-left: 2px;
	margin-bottom: 5px;
}

@media (max-width: 768px) {
	#tuition-payment--grid,
	.individual-table {
		margin-left: -15px;
		width: calc(100% + 35px);
	}
}

.tuition-payment--row {
	line-height: 45px;
}

.tuition-payment--row div{
	border: 1px solid #DDD;
	margin-top: -1px;
	margin-left: -1px;
	height: 45px;
}

.tuition-payment--header {
	font-size: 14px;
	font-style: italic;
	padding-left: 8px;
	padding-right: 8px;
	color: #474747;
	background-color: #ecf6f9;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#tuition-payment--header-small {
	font-size: 11px;
	margin-top: -30px;
	margin-bottom: -15px;
	display: block;
	color: #878787;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.tuition-payment--cost:before {
	content: "$";
}

.tuition-payment--cost {
	font-size: 12px;
	font-weight: bold;
	padding-left: 8px;
	padding-right: 8px;
}

.individual-table--header,
.individual-table--cost{
	border: 1px solid #DDD;
	margin-top: -1px;
	margin-left: -1px;
	height: 45px;
	line-height: 45px;
	padding-left: 8px;
	padding-right: 8px;
}

.individual-table--header {
	font-size: 14px;
	font-style: italic;
	padding-left: 8px;
	padding-right: 8px;
	color: #474747;
	background-color: #ecf6f9;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.individual-table--cost {
	font-size: 12px;
	font-weight: bold;
}

.recital-info {
	font-size: 15px;
	line-height: 25px;
	margin-top: 10px;
	color: #474747;
}

#recital-info--more {
	line-height: 15px;
	font-size: 13px;
	color: #878787;
}

#registering-links {
	font-size: 20px;
	margin-top: 15px;
	margin-bottom: 10px
}

#registering-links a {
	color: #3F68AF;
	font-weight: bold;
	font-style: italic;
}

#class-schedule--image {
	margin-top: 10px;
}

#class-schedule--pdf {
	font-size: 20px;
	margin-top: 15px;
	margin-bottom: 10px
}

#class-schedule--pdf a {
	color: #3F68AF;
	font-weight: bold;
	font-style: italic;
}
