.news-title {
  margin-top: 15px;
  text-align: center;
  font-size: 30px;
  color: #3F68AF;
  font-weight: bold;
}

.news-content {
  margin-top: 10px;
  text-align: center;
}

.news-content a {
  font-weight: bold;
  font-style: italic;
  color: #3F68AF;
}
