#about-text {
	font-size: 14px;
}

.about-staff--info {
	margin-top: 15px;
}

.about-staff--info-item:before {
	content: "•";
	font-size: 18px;
}

.about-staff--info-item {
	color: #27344A;
	font-size: 16px;
}

.about-staff--remarks:before {
	content: "“";
	font-size: 20px;
	font-weight: bold;
}

.about-staff--remarks {
	font-size: 16px;
	color: #27344A;
	font-style: italic;
	margin-top: 15px;
}

.about-staff--remarks:after {
	content: "”";
	font-size: 20px;
	font-weight: bold;
}

.about-staff--paragraph {
	font-size: 16px;
	color: #27344A;
	margin-top: 15px;
}

.about-staff--dropdown {
	font-style: italic;
	font-size: 16px;
	color: #3F68AF;
	margin-top: 10px;
}

.about-staff--dropdown:hover {
	text-decoration: underline;
	cursor: pointer;
}

.about-staff--dropdown-content {
	display: none;
	margin-top: 10px;
}
