body {
	background-color: #E7E7E7;
}

#wrapper {
	min-width: 500px;
}

@media (min-width: 2000px) {
	#wrapper {
		max-width: 2000px;
		float: left;
		position: relative;
		border-left: 2px solid #27344A;
		border-right: 2px solid #27344A;
	}
}

/* Display Correct Headers */

@media (max-width: 767px) {
	#header {
		display: none;
	}

	#header-mobile {
		display: block;
	}
}

@media (min-width: 768px) {
	#header {
		display: block;
	}

	#header-mobile {
		display: none;
	}
}

/* Desktop Header */

#header {
	line-height: 100px;
	background: #3F68AF;
	z-index: 10;
	height: 100px;
	position: fixed;
	border-bottom: 3px solid #27344A;
}

#header-logo {
	left: 15px;
	height: 140px; 
	padding: 10px;
	background-color: #27344A;
	border: 1px solid white;
	border-top: 0px;
}

#header-logo:hover {
	border-left: 0px;
	border-right: 0px;
	border-bottom: 5px solid #3F68AF;
	box-shadow: 0px 5px 10px 1px #27344A;
}

#header-logo img {
	height: 120px;
	width: 128.75px;
}

.header-item {
	float: right;
	right: 15px;
	font-weight: bold;
	color: white;
	height: 100px;
	display: block;
	font-size: 13px;
	padding-left: 10px;
	padding-right: 10px;
	font-family: 'Source Sans Pro', sans-serif;
}

.header-item:hover {
	background-color: rgba(224, 255, 255, 0.25);
	border-bottom: 3px solid white;
}

@media (min-width: 992px) {
	#header-logo {
		left: 20px;
		height: 160px;
		padding: 20px;
	}
	
	.header-item {
		right: 20px;
		padding-left: 20px;
		padding-right: 20px;
		font-size: 16px;
	}
}

@media (min-width: 1200px) {
	#header-logo {
		left: 25px;
		height: 180px;
		padding: 30px;
	}
	
	.header-item {
		right: 25px;
	}
}

#header-socialnetworking--holder {
	float: right;
	width: auto;
	height: auto;
	margin-top: 110px;
	margin-right: 8px;
	margin-left: -100%;
	background-color: #27344A;
	border: 1px solid white;
	outline: 1px solid #27344A;
	box-shadow: 0px 0px 8px 1px #27344A;
}

.header-socialnetworking--item {
	width: 40px;
	float: left;
	padding: 5px;
}

.header-socialnetworking--item:hover {
	background-color: white;
	border: 1px solid #27344A;
}

@media (max-width: 991px) {
	#header-socialnetworking--holder {
		margin-top: 105px;
		margin-right: 4px;
		box-shadow: 0px 0px 4px 1px #27344A;
	}
}

/* Mobile Header */

#header-mobile {
	min-height: 50px;
	z-index: 10;
	min-width: 500px;
	background: #27344A;
}

#header-mobile--logo {
	text-align: center;
	line-height: 50px;
	font-weight: bold;
	color: white;
	font-size: 20px;
}

#header-mobile--menu {
	font-size: 30px;
	float: right;
	color: white;
	padding-top: 7px;
	padding-right: 10px;
	padding-left: 10px;
	margin-bottom: -100%;
	margin-right: 15px;
	height: 50px;
	z-index: 10;
	border-left: 1px solid #5C6E7E;
	border-right: 1px solid #5C6E7E;
}

#header-mobile--menu:hover {
	cursor: pointer;
	background-color: #5C6E7E;
}

#header-mobile--item--holder {
	display: none;
	text-align: center;
	padding-bottom: 5px;
	padding-top: 15px;
	border-top: 1px solid #5C6E7E;
	border-bottom: 5px solid white;
	background-color: #303E53;
}

.header-mobile--item {
	color: white;
	font-weight: bold;
	border: 1px solid white;
	padding: 15px;
	border-radius: 200px;
	font-size: 15px;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 10px;
	display: inline-block;
	float: none;
}

.header-mobile--item:hover {
	background-color: white;
	color: #27344A;
}

#header-socialnetworking--holder-mobile {
	float: right;
	width: auto;
	height: auto;
	margin-top: 54px;
	margin-right: 4px;
	margin-bottom: -100%;
	background-color: #27344A;
	border: 1px solid white;
	outline: 1px solid #27344A;
	box-shadow: 0px 0px 5px 1px #27344A;
}

/* Page Contents */

@media (max-width: 767px) {
	#content {
		background-color: #F2F2F2;
	}
}

@media (min-width: 768px) {
	#content {
		background-color: #F2F2F2;
		margin-top: 100px;
	}
}

/* Footer */

#footer {
	border-top: 3px solid #3F68AF;
	background-color: #27344A;
	height: 88px;
}

#footer-text {
	color: white;
	font-size: 15px;
	line-height: 20px;
	margin-top: 24px;
}

.footer-title {
	font-family: 'Arial', sans-serif;
	font-weight: bold;
}

.footer-info {
	font-family: 'Arial', sans-serif;
	font-style: italic;
	padding-left: 10px;
}

#footer-logo {
	float: right;
	right: 51px;
	border-left: 1px solid #3F68AF;
	border-right: 1px solid #3F68AF;
	height: 100%;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
}

#footer-logo:hover {
	background-color: #3F68AF;
}

#footer-logo img {
	height: 75px;
	width: 80px;
}

@media (max-width: 767px) {
	#footer {
		height: 120px;
	}
	
	#footer-text {
		width: 325px;
		margin-top: 20px;
	}
	
	#footer-logo {
		padding-top: 22px;
	}
}

/* Back To Top */

#backToTop {
	position: fixed;
	z-index: 100;
	width: 35px;
	height: 35px;
	background-color: #3F68AF;
	line-height: 35px;
	font-size: 25px;
	color: white;
	padding-left: 5px;
	right: 8px;
	bottom: 8px;
	border-radius: 5px;
	display: none;
}

#backToTop:hover {
	color: #27344A;
	box-shadow: 0px 0px 8px 1px #27344A;
	cursor: pointer;
}