.default-container--holder {
	margin-bottom: 15px;
}

.default-container {
	margin-top: 15px;
	border: 1px solid #CCC;
	box-shadow: 0px 0px 6px 2px #CCC;
	background-color: #EEE;
}

.default-container:hover {
	border: 1px solid #AAA;
	box-shadow: 0px 0px 8px 2px #BBB;
	background-color: #E6E6E6;
}

.default-container--text,
.default-container--image {
	padding: 15px;
}

.default-container--text-content {
	border: 1px solid #CCC;
	padding: 15px;
	background-color: white;
	font-family: 'Comfortaa', cursive;
	font-size: 20px;
	line-height: 25px;
}

.default-container:hover .default-container--text-content {
	border: 1px solid #BBB;
}

.default-container--image-content {
	border-radius: 8px;
}

.default-container--image-caption {
	font-weight: bold;
	font-size: 14px;
	color: #27344A;
	font-family: "Arial";
	margin-top: 5px;
}